<% layout('layouts/boilerplate') -%>

<head>
    <link rel="stylesheet" href="/stylesheets/contact.css">
</head>

<body>
    <div class="p-4">
        <%- include('../../partials/header')%>
        <section class="">
            <%- include('../../partials/maintenance')%>
            
        </section>
    </div>
</body>