<% layout('layouts/boilerplate') -%>

<head>
    <link rel="stylesheet" href="/stylesheets/architectural-graphics.css">
</head>

<body>
    <div class="architectural__container">
        <%- include('../../partials/header')%>
        <section class="maintenance__section">
            <%- include('../../partials/maintenance')%> 
        </section>
    </div>
</body>