<footer class="footer flex--row">
    <div class="footer__nav flex--row">
        <div class="footer__nav-category">
            <h2 class="footer__nav-title"><a class="footer__nav-link" href="services">Services</a></h2>
            <ul class="footer__nav-sub-pages-list">
                <li class="footer__nav-sub-page-item"><a class="footer__nav-link" href="services/vehicle-wraps">Vehicle Wraps</a></li>
                <li class="footer__nav-sub-page-item"><a class="footer__nav-link" href="services/architectural-graphics">Architectural Graphics</a></li>
            </ul>
        </div>
        <div class="footer__nav-category">
            <h2 class="footer__nav-title"><a class="footer__nav-link" href="contact">Contact</a></h2>
        </div>
        <div class="footer__nav-category">
            <h2 class="footer__nav-title"><a class="footer__nav-link" href="about">About</a></h2>
        </div>
    </div>
    <div class="footer__socials-and-logo-container flex--column">
        <div class="footer__social-links">
            <a class="footer__social-link-item" href="#">
                <img src="media/facebook.png" class="footer__social-image" alt="link to Facebook page" />
                <img src="media/facebook_white.png" class="footer__social-image--white" alt="link to Facebook page" />
            </a>
            <a class="footer__social-link-item" href="#">
                <img src="media/x_logo.png" class="footer__social-image" alt="link to X.com page" />
                <img src="media/x_logo_white.png" class="footer__social-image--white" alt="link to X.com page" />
            </a>
            <a class="footer__social-link-item" href="#">
                <img src="media/instagram.png" class="footer__social-image" alt="link to Instagram page" />
                <img src="media/instagram_white.png" class="footer__social-image--white" alt="link to Instagram page" />
            </a>
            <a class="footer__social-link-item" href="#">
                <img src="media/linkedin.png" class="footer__social-image" alt="link to LinkedIn page" />
                <img src="media/linkedin_white.png" class="footer__social-image--white" alt="link to LinkedIn page" />
            </a>
        </div>
        <a class="footer__logo" href="">
            <img class="footer__logo-img" src="media/jacwraps_logo_white.png" alt="Jac Wraps">
        </a>
    </div>
</footer>