<footer class="flex-column">
    <div class="flex-row have-questions">
        <h2 class="ms-1">Have any questions?</h2>
        <a href="Contact">
            <button class="default-button" >Contact us
                <img src="media/arrow_right.svg" alt="Next Slide">
            </button>
        </a>
    </div>
    </footer>