<section class="header binto-container flex--column">
    <nav aria-label="breadcrumb-nav flex--row">
        <ul class="breadcrumb-nav">
            <li><a href="">Home</a></li>
            <li><%- title %></li>
        </ul>
    </nav>
    <h1 class="header__title"><%- title %></h1>
</section>