<nav class="navbar navbar-expand-sm sticky-top bgBlur">
  <div class="brand__container container-fluid">
    <a class="navbar-brand" href="">
      <img class="navbar__jacwraps_logo" src="media/jacwraps_logo.png" alt="Jac Wraps logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto sticky-top">
        <a class="nav-link" aria-current="page" href=""><span class="navbar__active-page-dot"></span>Home</a>
        <a class="nav-link" href="services"><span class="navbar__active-page-dot"></span>Services</a>
        <a class="nav-link" href="contact"><span class="navbar__active-page-dot"></span>Contact</a>
        <a class="nav-link" href="about"><span class="navbar__active-page-dot"></span>About</a>
      </div>
    </div>
  </div>
</nav>

