<div class="flex--row have-questions">
    <p class="m-0">Have any questions?</p>
    <%- include('../partials/button', {text: "Contact us", img: "arrow_right.svg", link: "contact", color: ""})%>
</div>