<div class="flex--row have-questions">
    <p class="m-0">Have any questions?</p>
    <a href="contact">
        <button class="default-button" >Contact us
            <img src="media/arrow_right.svg">
        </button>
    </a>
</div>