<% layout('layouts/boilerplate') -%>

<head>
    <link rel="stylesheet" href="/stylesheets/home.css">
</head>

<body>
    <section id="heroSection" class="">
        <div id="hero_text_and_nav" class="flex-column">
            <div id="heroText">
                <h1 class="text-dark fs-1">Elevate Your Brand <br> with
                    <div id="dynamicHeroTextContainer">
                        <div class="dynamicHeroText">
                            Vehicle Wraps
                        </div>
                        <div class="dynamicHeroText">
                            Commercial Graphics
                        </div>
                    </div>
                </h1>
            </div>
            <div class="hero_nav">
                <div class="slide_nav flex-row">
                    <button class="hero__arrow hero__arrow--left">
                        <img src="media/arrow_left.svg" alt="Previous Slide">
                    </button>
                    <div class="flex-row gap-2">
                        <button class="hero__dot-indicator"></button>
                        <button class="hero__dot-indicator"></button>
                    </div>
                    <button class="hero__arrow hero__arrow--right">
                        <img src="media/arrow_right.svg" alt="Next Slide">
                    </button>
                </div> 
                <%- include('./partials/button', {text: "Explore Services", img: "arrow_right.svg", link: "services", color: "button-style-dark"})%>
            </div>
        </div>
        <div class="hero-track-container">
            <ul class="hero-track">
                <li class="hero-slide current-slide">
                    <img class="hero-image hero-van" src="media/hero_van.png" alt="">
                </li>
                <li class="hero-slide">
                    <img class="hero-image" src="media/hero_images_commercial_wrap_1.png" alt="">
                </li>
            </ul>
        </div>
        
    </section>
    <section id="servicesSection" class="text-light flex-column">
        <h2 class="fs-1">Services</h2>
        <div class="serviceCarousels flex-column">
            <div class="serviceContainer flex-column">
                <div class="serviceTitle flex-row">
                    <h3>Vehicle Wraps<h3>
                    <span>|</span>
                    <%- include('./partials/button', {text: "View All", img: "arrow_right.svg", link: "services/vehicle-wraps", color: ""})%>
                </div>
                <div class="carousel">
                    .
                </div>
            </div>
            <div class="serviceContainer flex-column">
                <div class="serviceTitle flex-row">
                    <h3>Architectural Graphics<h3>
                    <span>|</span>
                    <%- include('./partials/button', {text: "View All", img: "arrow_right.svg", link: "services/architectural-graphics", color: ""})%>
                </div>
                <div class="carousel">
                    .
                </div>
            </div>
        </div>
    </section>
    <section id="aboutSection" class="flex-column">
        <h2 class="text-dark fs-1">
            Jac Wraps is a family owned business, <br>
            proudly serving nationwide clients and our local communities.
        </h2>
        <p>
            Our goal is to help establishments like yours create brand recognition through various vinyl installations.
            We offer a wide range of products to suit your goals and budget.
            From business hour signs to a fleet of vehicles, the possibilities are endless!
        </p>

    </section>
    <%- include('./partials/questions')%>

    <script src="javascripts/hero-carousel.js"></script>
    <script src="https://kit.fontawesome.com/6a1ee5dede.js" crossorigin="anonymous"></script>
</body>