<% layout('layouts/boilerplate') -%>

<head>
    <link rel="stylesheet" href="/stylesheets/home.css">
</head>

<body>
    <section class="hero__section">
        <div class="hero__title-and-nav flex--column">
            <div class="hero__title-container">
                <h1 class="hero__title text-dark">Elevate Your Brand <br> with
                    <div class="hero__dynamic-text-container">
                        <div class="hero__dynamic-text-track">
                            <div class="hero__dynamic-text">
                                Vehicle Wraps
                            </div>
                            <div class="hero__dynamic-text">
                                Architectural Graphics
                            </div>
                        </div>
                    </div>
                </h1>
            </div>
            <div class="hero__nav-container">
                <div class="hero__slide-nav flex--row">
                    <button class="hero__arrow hero__arrow--left">
                        <img src="media/arrow_left.svg" alt="Previous Slide">
                    </button>
                    <div class="hero__dot-indicator-container flex--row gap-2">
                        <button class="hero__dot-indicator current-slide" aria-label='Vehicle wraps slide'></button>
                        <button class="hero__dot-indicator" aria-label='Architectural graphics slide'></button>
                    </div>
                    <button class="hero__arrow hero__arrow--right">
                        <img src="media/arrow_right.svg" alt="Next Slide">
                    </button>
                </div> 
                <%- include('./partials/button', {text: "Explore Services", img: "arrow_right.svg", link: "services", color: "button-style-dark"})%>
            </div>
        </div>
        <div class="hero__track-container">
            <ul class="hero__track">
                <li class="hero__slide current-slide">
                    <img class="hero__image hero__image--vehicle-wraps" src="media/hero_van.png" alt="Vehicle Wraps">
                </li>
                <li class="hero__slide">
                    <img class="hero__image hero__image--architectural-graphics-1" src="media/hero_images_commercial_wrap_1.png" alt="Architectural graphics">
                    <div class="hero__image-divider">
                        <img class="hero__image hero__image--architectural-graphics-2" src="media/hero_images_commercial_wrap_2.png" alt="Architectural graphics">
                        <img class="hero__image hero__image--architectural-graphics-3" src="media/hero_images_commercial_wrap_3.png" alt="Architectural graphics">    
                    </div>
                   </li>
            </ul>
        </div>
        
    </section>
    <section class="services__section text-light flex--column">
        <h2 class="fs-1">Services</h2>
        <div class="services__carousel-container flex--column">
            <div class="services__title-and-button-container flex--column">
                <div class="services__title-container flex--row">
                    <h3 class="services__title">Vehicle Wraps<h3>
                    <span>|</span>
                    <%- include('./partials/button', {text: "View All", img: "arrow_right.svg", link: "services/vehicle-wraps", color: ""})%>
                </div>
                <div class="services__carousel">
                    .
                </div>
            </div>
            <div class="services__title-and-button-container flex--column">
                <div class="services__title-container flex--row">
                    <h3 class="services__title">Architectural Graphics<h3>
                    <span>|</span>
                    <%- include('./partials/button', {text: "View All", img: "arrow_right.svg", link: "services/architectural-graphics", color: ""})%>
                </div>
                <div class="services__carousel">
                    .
                </div>
            </div>
        </div>
    </section>
    <section class="about__section flex--column">
        <h2 class="about__main-text text-dark">
            Jac Wraps is a family owned business, <br>
            proudly serving nationwide clients and our local communities.
        </h2>
        <p class="about__sub-text">
            Our goal is to help establishments like yours create brand recognition through various vinyl installations.
            We offer a wide range of products to suit your goals and budget.
            From business hour signs to a fleet of vehicles, the possibilities are endless!
        </p>
    </section>
    <%- include('./partials/questions')%>

    <script src="javascripts/hero-carousel.js"></script>
    <script src="https://kit.fontawesome.com/6a1ee5dede.js" crossorigin="anonymous"></script>
</body>