<% layout('layouts/boilerplate') -%>

<head>
    <link rel="stylesheet" href="/stylesheets/home.css">
</head>

<body>
    <section id="heroSection" class="flex-row">
        <div id="heroTextAndNav" class="flex-column">
            <div id="heroText">
                <h1 class="text-dark fs-1">Elevate Your Brand <br> with
                    <div id="dynamicHeroTextContainer">
                        <div class="dynamicHeroText">
                            Vehicle Wraps
                        </div>
                        <div class="dynamicHeroText">
                            Commercial Graphics
                        </div>
                    </div>
                </h1>
            </div>
            <div class="flex-row gap-3 ">
                <div class="slideNav flex-row">
                    <div class="navArrow">
                        <img src="media/arrow_left.svg" alt="Previous Slide">
                    </div>
                    <div class="flex-row gap-2">
                        <div class="dotIndicator"></div>
                        <div class="dotIndicator"></div>
                    </div>
                    <div class="navArrow">
                        <img src="media/arrow_right.svg" alt="Next Slide">
                    </div>
                </div>
                <button class="default-button button-style-dark" >Explore Services
                    <img src="media/arrow_right.svg" alt="Next Slide">
                </button>
            </div>

        </div>
        <div id="heroImages">
            <img id="heroVan" src="https://github.com/Tim-Moughayar/Jac-Wraps-Website/blob/main/web_pages/media/hero_van.png?raw=true" alt="A wrapped company van">
        </div>
    </section>
    <section id="servicesSection" class="text-light flex-column">
        <h2 class="fs-1">Services</h2>
        <div class="serviceCarousels flex-column">
            <div class="serviceContainer flex-column">
                <div class="serviceTitle flex-row">
                    <h3>Vehicle Wraps<h3>
                    <span>|</span>
                    <a href="#">
                        <button class="default-button" >View All
                            <img src="media/arrow_right.svg" alt="Next Slide">
                        </button>
                    </a>
                </div>
                <div class="carousel">
                    .
                </div>
            </div>
            <div class="serviceContainer flex-column">
                <div class="serviceTitle flex-row">
                    <h3>Commercial Graphics<h3>
                    <span>|</span>
                    <a href="#">
                        <button class="default-button" >View All
                            <img src="media/arrow_right.svg" alt="Next Slide">
                        </button>
                    </a>
                </div>
                <div class="carousel">
                    .
                </div>
            </div>
        </div>
    </section>
    <section id="aboutSection" class="flex-column">
        <h2 class="text-dark fs-1">
            Jac Wraps is a family owned business, <br>
            proudly serving nationwide clients and our local communities.
        </h2>
        <p>
            Our goal is to help establishments like yours create brand recognition through various vinyl installations.
            We offer a wide range of products to suit your goals and budget.
            From business hour signs to a fleet of vehicles, the possibilities are endless!
        </p>

    </section>
    <%- include('./partials/questions')%>
    <script src="https://kit.fontawesome.com/6a1ee5dede.js" crossorigin="anonymous"></script>
</body>