<% layout('layouts/boilerplate') -%>

<head>
    <link rel="stylesheet" href="/stylesheets/vehicle-wraps.css">
</head>

<body>
    <div class="vehicle__container">
        <%- include('../../partials/header')%>
        <section class="maintenance__section">
            <%- include('../../partials/maintenance')%>
        </section>
    </div>
</body>