/* GENERAL =================================================== */

main {
    position: relative;
    z-index: 1;
    background: white;
}

* {
    margin-bottom: 0;
}

/* FLEX =================================================== */

.flex--column {
    display: flex;
    flex-direction: column;
}

.flex--row {
    display: flex;
    flex-direction: row;
}


/* BUTTON =================================================== */

.default-button {
    font-size: 16px;
    border-radius: 33px;
    padding: 4px 10px;
    border: 2px solid white;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    gap: 0px;
    position: relative;
    overflow: hidden;
    transition: padding 0.3s ease, gap 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.default-button:hover {
    background-color: transparent;
    color: white;
    padding-right: 35px;
    gap: 7px;
}

.default-button > img {
    position: absolute;
    width: 15px;
    right: -15px; /* Img starts outside button */
    transition: right 0.3s ease, filter 0.3s ease;
}

.default-button:hover > img {
    right: 10px; /* Move img inside button on hover */
}

.button-style-dark {
    border: 2px solid #232323;
    color: white;
    background-color: #232323;
}

.button-style-dark:hover {
    color:#232323;

}

.button-style-dark > img {
    filter: brightness(0);
}


.fa-arrow-right {
    height: 17px;
    margin-top: 2px;
}


/* VEHICLE CAROUSEL =================================================== */



/* ARCHITECTURAL CAROUSEL =================================================== */


/* CAROUSEL =================================================== */

.carousel {
    color: white;
    width: 100%;
    justify-content: space-between;
}



/* CAROUSEL SLIDE =================================================== */

.carousel__slide {
    height: 270px;
    width: 405px;
    overflow: hidden;
    border-radius: 25px;
    position: relative;
}

.carousel__slide-img {
    height: 205px;
    width: 100%;    
}

.carousel__slide-banner {
    height: 225px;
    width: 100%;
    padding: 19px;
    justify-content: space-between;
    background-color: rgba(44, 44, 44, 0.6);
    backdrop-filter: blur(30px);
    position: absolute;
    top: 205px;
    transition: top 0.31s ease-out;
}

.carousel__slide:hover .carousel__slide-banner {
    height: 225px;
    width: 100%;
    top: 45px;
    position: absolute;
}

.carousel__slide-title {
    font-size: 23px;
    font-weight: 500;
    padding-bottom: 5px;
}

.carousel__slide-description {
    font-size: 17px;
    font-weight: 400;
}

.carousel__slide-price-and-request {
    justify-content: space-between;
    align-items: end;
}

.carousel__slide-price-title {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 4px;
}

.carousel__slide-price {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 0px;
    line-height: 30px;
}

/* NAVBAR =================================================== */

.bgBlur {
    background-color: rgba(255, 255, 255, 0.685);
    backdrop-filter: blur(10px);
}

.brand__container {
    padding: 0px 40px 0px 35px;
}

.navbar__jacwraps_logo {
    width: 75px;
}

.navbar-nav .nav-link {
    color: black;
    mix-blend-mode: difference;
    font-weight: 600;
    font-size: 18px;
  }

  .navbar-nav {
    gap: 10px;
  }


/* HEADER =================================================== */

.header {
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 25px;
    height: 200px;
}

.header__title {
    font-size: 40px;
    margin-bottom: 0;
}

/* Style the list */
ul.breadcrumb-nav {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  /* Display list items side by side */
  ul.breadcrumb-nav li {
    display: inline;
    font-size: 18px;
  }
  
  /* Add a slash symbol (/) before/behind each list item */
  ul.breadcrumb-nav li+li:before {
    padding: 0px 8px;
    color: rgb(255, 255, 255);
    content: "/\00a0";
  }
  
  /* Add a color to all links inside the list */
  ul.breadcrumb-nav li a {
    color: white;
    text-decoration: underline;
  }
  
  /* Add a color on mouse-over */
  ul.breadcrumb-nav li a:hover {
    color: #6fb6f5;
  }


/* FOOTER =================================================== */

.footer {
    background-color: #2c2c2c;
    height: 160px;
    width: 100%;
    padding: 25px 40px;
    position: sticky;
    bottom: 0;
    z-index: 0;
    justify-content: space-between;
    align-items: start;
}

.footer__nav {
    width: 500px;
    color: white;
    justify-content: space-between;
}

.footer__nav-category {
    width: 100%;
    white-space: nowrap;
}

.footer__nav-link, .footer__nav-link:visited {
    color: white;
    text-decoration: none;
}

.footer__nav-link:hover {
    color:#8f8f8f;
}

.footer__nav-title {
    font-size: 1.2em;
    font-weight: bold;
    padding-right: 10px;
    padding-bottom: 7px;
}

.footer__nav-sub-pages-list {
    font-size: 1em;
    list-style: none;
    padding: 0;
}

.footer__nav-sub-page-item {
    padding-bottom: 6px;
}

.footer__socials-and-logo-container {
    height: 100%;
    gap: 25px;
    align-items: end;
}

.footer__social-links {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 16px;
}

.footer__social-link-item {
    background-color: #ffffff;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1px;
    border-radius: 50%;
    border: #ffffff 2px solid;
    transition: background-color 0.3s ease;
}

.footer__social-link-item:hover {
    background-color: #ffffff00;
}

.footer__social-link-item:hover .footer__social-image {
    display: none;
}

.footer__social-link-item:hover .footer__social-image--white {
    display: block;
}

.footer__social-image {
    height: 17px;
}

.footer__social-image--white {
    height: 17px;
    display: none;
}

.footer__logo-img {
    width: 100px;
}

.footer__text {
    color: white;
}

@media (max-width: 640px) {
    .footer {
        flex-direction: column;
        height: 300px;
        gap: auto;
    }

    .footer__nav {
        padding-top: 10px;
        width: 100%;
    }

    .footer__nav-category {
        justify-content: center;
    }
    
    .footer__socials-and-logo-container {
        justify-content: end;
        align-items: start;
    }
}


/* BINTO BOXES =================================================== */

.binto-container {
    gap: 12px;
    padding: 30px 35px;
    background-color: #1D1D1D;
    color: white;
    border-radius: 25px;
}

a:link, a:visited {
    
    color: #ffffff;
}

a:hover {
    color: #485158;
}

.white-link:link, .white-link:visited {
    color: white
}

.white-link:hover {
    color: #b9b9b9
}


/* MAINTENANCE =================================================== */

.maintenance__section {
    align-items: center;
    justify-content: center;
    height: 60%;
}

.maintenance__container {
    align-items: center;
    justify-content: center;
    height: 100%;

}


/* QUESTIONS =================================================== */

.have-questions {
    background-color: #1D1D1D;
    height: 100px;
    width: 100%;
    padding: 40px;
    align-items:center;
    color: white;
    gap: 25px;
    font-size: 25px;
    font-weight: 300;
    /* border-bottom: rgb(59, 59, 59) 2px solid; */
}