/* GENERAL _______________________________________________ */


.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

/* BUTTON _______________________________________________ */


.default-button {
    font-size: 16px;
    border-radius: 33px;
    padding: 4px 10px;
    border: 2px solid white;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
    position: relative;
    overflow: hidden;
    transition: padding 0.3s ease, gap 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.default-button:hover {
    background-color: transparent;
    color: white;
    padding-right: 35px;
    gap: 7px;
}

.default-button > img {
    position: absolute;
    width: 15px;
    right: -15px; /* Img starts outside button */
    transition: right 0.3s ease, filter 0.3s ease;
}

.default-button:hover > img {
    right: 10px; /* Move img inside button on hover */
}

.button-style-dark {
    border: 2px solid #232323;
    color: white;
    background-color: #232323;
}

.button-style-dark:hover {
    color:#232323;

}

.button-style-dark > img {
    filter: brightness(0);
}


.fa-arrow-right {
    height: 17px;
    margin-top: 2px;
}


/* NAVBAR _______________________________________________ */


.bgBlur {
    background-color: rgba(255, 255, 255, 0.3);
    /* background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,.5) 100%); */
    backdrop-filter: blur(10px);
}

/*
.navbar-nav {
    color: white;
    background-blend-mode: difference;
} */

.navbar-nav .nav-link {
    color: black;
    mix-blend-mode: difference;
  }


/* FOOTER _______________________________________________ */


footer {
    background-color: #363636;
    height: 150px;
    width: 100%;
    padding: 40px 40px;
}

.have-questions {
    background-color: #1D1D1D;
    height: 100px;
    width: 100%;
    padding: 40px 40px;
    align-items:center;
    color: white;
    gap: 25px;
    font-size: 25px;
    font-weight: 300;
}

footer > h2 {

}


/* QUESTIONS BOXES _______________________________________________ */




/* BINTO BOXES _______________________________________________ */

.binto-container {
    gap: 12px;
    padding: 30px 35px;
    background-color: #1D1D1D;
    color: white;
    min-height: 250px;
    border-radius: 25px;
}

a:link, a:visited {
    
    color: #ffffff;
}

a:hover {
    color: #485158;
}

.white-link:link, .white-link:visited {
    color: white
}

.white-link:hover {
    color: #b9b9b9
}


/* MAINTENANCE _______________________________________________ */

.maintenance-section {
    align-items: center;
    justify-content: center;
    padding: 100px 0px;
}