:root {
    --blue: #67bbff;
    --dark-background: ;

  }

.contact__container {
    padding: 5px 24px 25px;
}

.contact__info-container {
    display: flex;
    flex-direction: row;
    gap: 25px;
    white-space: nowrap;
}

.contact__info-phone-and-hours {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 25px;
}

h2 {
    font-size: x-large;
}

.hours__table {
    width: 100%;
    border-spacing: 50px 0;
}

tr {
    width: 100%;
}

th {
    font-weight: normal;
}

td {
    padding-left: 20px;
    text-align: end;
    /* width: 100%; */
    white-space: nowrap;
}

a:link, a:visited {
    
    color: #b0dcff;
}

a:hover {
    color: #485158;
}

.white-link:link, .white-link:visited {
    color: white
}

.white-link:hover {
    color: #b9b9b9
}

.contact__info--address {
    width: 100%;
}

.address__text-container {
    white-space: nowrap;
}

.contact__address-map {
    display: block;
    width: 500px;
    height: 230px;
    border: 0;
    border-radius: 10px;
}

@media (max-width: 1545px) {
    .contact__address-map {
        display: none;
    }
}

@media (max-width: 980px) {
    .contact__info-container {
        flex-direction: column;
    }
}

@media (max-width: 620px) {
    .contact__info-phone-and-hours {
        flex-direction: column;
    }
}

.request-form {
    margin: 25px 0px 35px;
}

.text-field {
    height: 30px;
    margin-bottom: 20px;
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
    color:white
}
.text-field:hover {
    border-color: #424242;
}
.text-field:focus, textarea:focus {
    border-color: var(--blue);
    outline: none;
}
textarea {
    height: 100px;
    resize: none;
    border: 3px solid white;
    padding: 5px;
    border-radius: 10px;
    margin-top: 12px;
}

button {
    width: fit-content;
}

.flex-1 {
    flex: .47 0 auto;
}

.flex-2 {
    flex: 2 0 auto;
}