/* HERO SECTION ===================================================== */

.hero__section {
    height: 600px;
    width: 100%;
    padding: 20px 0px 40px 40px;
    position: relative;
    justify-content: space-between;
    align-items: center;
    max-width: 1950px;
}

@media (min-width: 1705px) {
    .hero__section {
        padding: 20px 30px 40px 40px;
    }
}

.hero__title-and-nav {
    height: 100%;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 30px;
    z-index: 1;
}

.hero__title-container {
    min-height: 95px;
    width: 530px;
}

.hero__title {
    min-height: 95px;
    font-weight: bold;
    /* white-space: nowrap; */
    font-size: 2.5em;
}

.desktop-break {
    display: inline;
  }

  .mobile-break {
    display: none;
  }

.hero__title-line-break {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.hero__dynamic-text-container {
    flex-direction: column;
    display: inline-flex;
    height: 50px;
    width: fit-content;
    overflow: hidden;
    margin-top: 5px;
}

.hero__dynamic-text-track {
    transition: transform 500ms ease-in-out;
}

.hero__dynamic-text {
    background-color: #232323;
    color: white;
    width: fit-content;
    height: fit-content;
    padding: 0px 11px 2px;
    white-space: nowrap;
}

@media(max-width: 1145px) {
    .hero__title {
        font-size: 2em;
    }
    .hero__title-container {
        width: 100%;
    }
    
    .hero__title-and-nav {
        margin-right: 40px;
    }
}

/* @media (max-width: 610px) {
    .hero__title {
        font-size: 2em;
    }
    .hero__title-container {
        width: 100%;
        margin-right: 20px;
    }
}

@media (max-width: 500px) {
    .hero__title {
        font-size: em;
    }
    .hero__title-container {
        width: 100%;
        margin-right: 20px;
    }
} */

@media (max-width: 390px) {
    .hero__title {
        min-width: none;
        font-size: 2em;
    }
    .mobile-break {
        display: inline;
      }
      .hero__title-line-break {
        display: inline;
    }
    .desktop-break {
        display: none;
      }
}


/* HERO CAROUSEL NAV------------------*/

.hero__nav-container {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.hero__slide-nav {
    justify-content: center;
    gap: 10px;
}


/* PAUSE -------------------------*/

.hero__slider-pause-button {
    display: flex;
    align-items: center;
    height: 100%;
    border: none;
    background-color: white;
}

.hero__slider-control-icon {
    display: block;
    height: 20px;
    filter: brightness(1.2);
}

.hero__slider-control-icon:hover {
    filter: brightness(0.5);
}

.hero__slider-control-icon--play {
    display: none;
}


/* SLIDE NAV -------------------------*/

.hero__arrow {
    display: flex;
    align-items: center;
    border: none;
    padding: 6px;
    background-color: transparent;
}

.hero__arrow > img {
    filter: brightness(.5);
    height: 18px;
}

.hero__arrow:hover > img {
    filter: brightness(.2);
}

.hero__dot-indicator-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.hero__dot-indicator {
    height: 16px;
    width: 16px;
    background-color: #868686;
    border: none;
    border-radius: 50%;
    display: inline-block;
    padding: 5px;
}

.hero__dot-indicator:hover {
    background-color: #555555;
}

.hero__dot-indicator.current-slide {
    background-color: #252525;
}


/* HERO CAROUSEL --------------------------------*/

.hero__track-container {
    /* background-color: aqua; */
    display: flex;
    height: 100%;
    width: 100%;
    min-width: 1000;
    right: 0;
    position: relative;
    overflow: hidden;
    padding: 0;
}

.hero__track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    width: 100%;
    transition: transform 500ms ease-in-out;
}

.hero__slide {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hero__image {
    width: auto;
    height: 100%;
    object-fit: cover;
}

.hero__image-divider {
    display: flex;
    flex-direction: column-reverse;
    width: 500px;
    height: fit-content;
}

.hero__image--architectural-graphics-1 {
    height: 510px;
    width: 510px;
    margin-left: 20px;
}

.hero__image--architectural-graphics-2 {
    height: 320px;
    width: 329px;
    margin-left: 40px;
}

.hero__image--architectural-graphics-3 {
    height: 220px;
    width: 220px;
    margin-left: auto;
}

@media(max-width: 490px) {
    .hero__track-container {
        position: absolute;
    }
    .hero__image--vehicle-wraps {
        width: 70%;
        height: auto;
        object-fit: cover;
    }
}

/* Show mobile breaks on smaller screens */
@media (max-width: 767px) {
  
}

@media(max-width: 390px) {
    .hero__section {
        padding-bottom: 5px;
    }

    .hero__title-and-nav {
        padding-top: 0px;
    }

    .hero__nav-container {
        flex-direction: column;
        align-items: center;
    }

    .hero__slider-pause-button {
        display: none;
    }
    
    .hero__dot-indicator-container {
        gap: 15px;
    }

    .hero__arrow {
        display: none;
    }

    .default-button-link {
        width: 100%;
        height: 40px;
    }

    .default-button {
        width: 100%;
    }

}


/* SERVICES SECTION =====================================================*/

.services__section {
    background-color: #232323;
    width: 100%;
    padding: 60px 40px 60px;
    gap: 40px;
    align-items: center;
}

.services__section-title {
    width: 100%;
    max-width: 1950px;
}

.services__carousel-container {
    width: 100%;
    max-width: 1950px;
    gap: 10px;
    margin-bottom: 0px;
    padding-right: 10px;
}

.services__title-and-button-container {
    gap: 12px;
}

.services__title {
    font-weight: 400;
    white-space: nowrap;
}

@media(max-width: 428px) {
    .services__title {
        font-size: 20px;
    }
}

.services__carousel {
    height: fit-content;
    width: 100%;
}


/* ABOUT SECTION =====================================================*/

.about__section {
    background-color: #ffffff;
    height: 650px;
    width: 100%;
    padding: 140px 40px 160px;
    gap: 30px;
    align-content: center;
    max-width: 1950px;
}

.about__main-text {
    font-weight: 700;
    font-size: 35px;
}

.about__sub-text {
    font-size: 20px;
    max-width: 1030px;
}