<% layout('layouts/boilerplate') -%>

<head>
    <link rel="stylesheet" href="/stylesheets/about.css">
</head>

<body>
    <div class="about__container">
        <%- include('../partials/header')%>
        <section class="">
            <%- include('../partials/maintenance')%>
            
        </section>
    </div>
</body>