<% layout('layouts/boilerplate') -%>

<head>
    <link rel="stylesheet" href="/stylesheets/boilerplate.css">
    <link rel="stylesheet" href="/stylesheets/services.css">
</head>

<body>
    <div class="services__container">
        <%- include('../partials/header')%>
        <section class="flex--row gap-4">
            <a href="services/vehicle-wraps" class="binto-container flex--column service-card">
                Vehicle Wraps
            </a>
            <a href="services/architectural-graphics" class="binto-container flex--column service-card">
                Architectural Graphics
            </a>
        </section>
    </div>
</body>